source/web_root/api/2008/admin.wsdl

<?xml version="1.0" ?>
<definitions name="CybozuAdminServices"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://wsdl.cybozu.co.jp/admin/2008"
             xmlns:typens="http://wsdl.cybozu.co.jp/admin/2008/types"
             xmlns:tns="http://wsdl.cybozu.co.jp/admin/2008"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:base_services="http://wsdl.cybozu.co.jp/base/2008">

  <wsdl:import namespace="http://wsdl.cybozu.co.jp/base/2008" location="base.wsdl"/>
  
  <types>
    <xsd:schema targetNamespace="http://wsdl.cybozu.co.jp/admin/2008/types"
                xmlns="http://www.w3.org/2001/XMLSchema"
                xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                xmlns:base="http://schemas.cybozu.co.jp/base/2008"
                xmlns:admin="http://schemas.cybozu.co.jp/admin/2008"
                xmlns:base_types="http://wsdl.cybozu.co.jp/base/2008/types">
                
      <xsd:import namespace="http://schemas.cybozu.co.jp/base/2008"
                  schemaLocation="base.xsd" />
      <xsd:import namespace="http://schemas.cybozu.co.jp/admin/2008"
                  schemaLocation="admin.xsd" />
      <xsd:import namespace="http://wsdl.cybozu.co.jp/base/2008/types" />

      <xsd:complexType name="AdminCountUsersRequestType">
      </xsd:complexType>

      <xsd:complexType name="AdminCountUsersResponseType">
        <xsd:sequence>
          <xsd:element name="number_users" type="xsd:integer" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
      </xsd:complexType>
      
      <xsd:complexType name="AdminGetUserIdsRequestType">
        <xsd:sequence>
          <xsd:element name="offset" type="xsd:integer" minOccurs="0" maxOccurs="1" />
          <xsd:element name="limit" type="xsd:integer" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="AdminGetUserIdsResponseType">
        <xsd:sequence>
          <xsd:element name="number_users" type="xsd:integer" minOccurs="1" maxOccurs="1" />
          <xsd:element name="userId" type="xsd:integer"
                       minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
      
      <xsd:complexType name="AdminGetUserDetailByIdsRequestType">
        <xsd:sequence>
          <xsd:element name="userId" type="xsd:integer" minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="AdminGetUserDetailByIdsResponseType">
        <xsd:sequence>
          <xsd:element name="number_users" type="xsd:integer" minOccurs="1" maxOccurs="1" />
          <xsd:element name="userDetail" type="admin:UserDetail"
                       minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
      
      <xsd:complexType name="AdminCountOrgsRequestType">
      </xsd:complexType>

      <xsd:complexType name="AdminCountOrgsResponseType">
        <xsd:sequence>
          <xsd:element name="number_orgs" type="xsd:integer"
                       minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
      </xsd:complexType>
      
      <xsd:complexType name="AdminGetOrgIdsRequestType">
        <xsd:sequence>
          <xsd:element name="offset" type="xsd:integer" minOccurs="0" maxOccurs="1" />
          <xsd:element name="limit" type="xsd:integer" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="AdminGetOrgIdsResponseType">
        <xsd:sequence>
          <xsd:element name="number_orgs" type="xsd:integer" minOccurs="1" maxOccurs="1" />
          <xsd:element name="orgId" type="xsd:integer"
                       minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
      
      <xsd:complexType name="AdminGetOrgDetailByIdsRequestType">
        <xsd:sequence>
          <xsd:element name="orgId" type="xsd:integer" minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="AdminGetOrgDetailByIdsResponseType">
        <xsd:sequence>
          <xsd:element name="number_orgs" type="xsd:integer" minOccurs="1" maxOccurs="1" />
          <xsd:element name="orgDetail" type="admin:OrgDetail"
                       minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
      
      <xsd:complexType name="AdminCountChildOrgsRequestType">
        <xsd:sequence>
          <xsd:element name="parent_orgId" type="xsd:integer" minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="AdminCountChildOrgsResponseType">
        <xsd:sequence>
          <xsd:element name="parent_orgId" type="xsd:integer" minOccurs="1" maxOccurs="1" />
          <xsd:element name="number_child_orgs" type="xsd:integer" minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
      </xsd:complexType>
      
      <xsd:complexType name="AdminGetChildOrgsRequestType">
        <xsd:sequence>
          <xsd:element name="parent_orgId" type="xsd:integer" minOccurs="1" maxOccurs="1" />
          <xsd:element name="offset" type="xsd:integer" minOccurs="0" maxOccurs="1" />
          <xsd:element name="limit" type="xsd:integer" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="AdminGetChildOrgsResponseType">
        <xsd:sequence>
          <xsd:element name="parent_orgId" type="xsd:integer" minOccurs="1" maxOccurs="1" />
          <xsd:element name="number_child_orgs" type="xsd:integer" minOccurs="1" maxOccurs="1" />
          <xsd:element name="orgId" type="xsd:integer"
                       minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
      
      <xsd:complexType name="AdminCountUsersInOrgRequestType">
        <xsd:sequence>
          <xsd:element name="orgId" type="xsd:integer" minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="AdminCountUsersInOrgResponseType">
        <xsd:sequence>
          <xsd:element name="orgId" type="xsd:integer" minOccurs="1" maxOccurs="1" />
          <xsd:element name="number_users" type="xsd:integer" minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
      </xsd:complexType>
      
      <xsd:complexType name="AdminGetUserIdsInOrgRequestType">
        <xsd:sequence>
          <xsd:element name="orgId" type="xsd:integer" minOccurs="1" maxOccurs="1" />
          <xsd:element name="offset" type="xsd:integer" minOccurs="0" maxOccurs="1" />
          <xsd:element name="limit" type="xsd:integer" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="AdminGetUserIdsInOrgResponseType">
        <xsd:sequence>
          <xsd:element name="orgId" type="xsd:integer" minOccurs="1" maxOccurs="1" />
          <xsd:element name="number_users" type="xsd:integer" minOccurs="1" maxOccurs="1" />
          <xsd:element name="userId" type="xsd:integer"
                       minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="AdminCountNoGroupUsersRequestType">
      </xsd:complexType>

      <xsd:complexType name="AdminCountNoGroupUsersResponseType">
        <xsd:sequence>
          <xsd:element name="number_users" type="xsd:integer" minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
      </xsd:complexType>
      
      <xsd:complexType name="AdminGetNoGroupUserIdsRequestType">
        <xsd:sequence>
          <xsd:element name="offset" type="xsd:integer" minOccurs="0" maxOccurs="1" />
          <xsd:element name="limit" type="xsd:integer" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="AdminGetNoGroupUserIdsResponseType">
        <xsd:sequence>
          <xsd:element name="number_users" type="xsd:integer" minOccurs="1" maxOccurs="1" />
          <xsd:element name="userId" type="xsd:integer"
                       minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
      
      <xsd:complexType name="AdminCountOrgsOfUserRequestType">
        <xsd:sequence>
          <xsd:element name="userId" type="xsd:integer" minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="AdminCountOrgsOfUserResponseType">
        <xsd:sequence>
          <xsd:element name="userId" type="xsd:integer" minOccurs="1" maxOccurs="1" />
          <xsd:element name="number_orgs" type="xsd:integer" minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
      </xsd:complexType>
      
      <xsd:complexType name="AdminGetOrgIdsOfUserRequestType">
        <xsd:sequence>
          <xsd:element name="userId" type="xsd:integer" minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="AdminGetOrgIdsOfUserResponseType">
        <xsd:sequence>
          <xsd:element name="userId" type="xsd:integer" minOccurs="1" maxOccurs="1" />
          <xsd:element name="number_orgs" type="xsd:integer" minOccurs="1" maxOccurs="1" />
          <xsd:element name="orgId" type="xsd:integer"
                       minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
      
      <xsd:complexType name="AdminGetParentOrgIdRequestType">
        <xsd:sequence>
          <xsd:element name="child_orgId" type="xsd:integer" minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="AdminGetParentOrgIdResponseType">
        <xsd:sequence>
          <xsd:element name="child_orgId" type="xsd:integer" minOccurs="1" maxOccurs="1" />
          <xsd:element name="parent_orgId" type="xsd:integer" minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
      </xsd:complexType>
      
      <xsd:complexType name="AdminGetUserIdByLoginNameRequestType">
        <xsd:sequence>
          <xsd:element name="login_name" type="xsd:string" minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="AdminGetUserIdByLoginNameResponseType">
        <xsd:sequence>
          <xsd:element name="login_name" type="xsd:string" minOccurs="1" maxOccurs="1" />
          <xsd:element name="userId" type="xsd:integer" minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
      </xsd:complexType>
      
      <xsd:complexType name="AdminGetOrgIdByOrgCodeRequestType">
        <xsd:sequence>
          <xsd:element name="org_code" type="xsd:string" minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="AdminGetOrgIdByOrgCodeResponseType">
        <xsd:sequence>
          <xsd:element name="org_code" type="xsd:string" minOccurs="1" maxOccurs="1" />
          <xsd:element name="orgId" type="xsd:integer" minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>

  <message name="AdminCountUsersRequest">
    <part name="parameters" type="typens:AdminCountUsersRequestType" />
  </message>
  <message name="AdminCountUsersResponse">
    <part name="returns" type="typens:AdminCountUsersResponseType" />
  </message>
  
  <message name="AdminGetUserIdsRequest">
    <part name="parameters" type="typens:AdminGetUserIdsRequestType" />
  </message>
  <message name="AdminGetUserIdsResponse">
    <part name="returns" type="typens:AdminGetUserIdsResponseType" />
  </message>
  
  <message name="AdminGetUserDetailByIdsRequest">
    <part name="parameters" type="typens:AdminGetUserDetailByIdsRequestType" />
  </message>

  <message name="AdminGetUserDetailByIdsResponse">
    <part name="returns" type="typens:AdminGetUserDetailByIdsResponseType" />
  </message>
  
  <message name="AdminCountOrgsRequest">
    <part name="parameters" type="typens:AdminCountOrgsRequestType" />
  </message>

  <message name="AdminCountOrgsResponse">
    <part name="returns" type="typens:AdminCountOrgsResponseType" />
  </message>
  
  <message name="AdminGetOrgIdsRequest">
    <part name="parameters" type="typens:AdminGetOrgIdsRequestType" />
  </message>

  <message name="AdminGetOrgIdsResponse">
    <part name="returns" type="typens:AdminGetOrgIdsResponseType" />
  </message>
  
  <message name="AdminGetOrgDetailByIdsRequest">
    <part name="parameters" type="typens:AdminGetOrgDetailByIdsRequestType" />
  </message>

  <message name="AdminGetOrgDetailByIdsResponse">
    <part name="returns" type="typens:AdminGetOrgDetailByIdsResponseType" />
  </message>
  
  <message name="AdminCountChildOrgsRequest">
    <part name="parameters" type="typens:AdminCountChildOrgsRequestType" />
  </message>

  <message name="AdminCountChildOrgsResponse">
    <part name="returns" type="typens:AdminCountChildOrgsResponseType" />
  </message>
  
  <message name="AdminGetChildOrgsRequest">
    <part name="parameters" type="typens:AdminGetChildOrgsRequestType" />
  </message>

  <message name="AdminGetChildOrgsResponse">
    <part name="returns" type="typens:AdminGetChildOrgsResponseType" />
  </message>
  
  <message name="AdminCountUsersInOrgRequest">
    <part name="parameters" type="typens:AdminCountUsersInOrgRequestType" />
  </message>

  <message name="AdminCountUsersInOrgResponse">
    <part name="returns" type="typens:AdminCountUsersInOrgResponseType" />
  </message>
  
  <message name="AdminGetUserIdsInOrgRequest">
    <part name="parameters" type="typens:AdminGetUserIdsInOrgRequestType" />
  </message>

  <message name="AdminGetUserIdsInOrgResponse">
    <part name="returns" type="typens:AdminGetUserIdsInOrgResponseType" />
  </message>

  <message name="AdminCountNoGroupUsersRequest">
    <part name="parameters" type="typens:AdminCountNoGroupUsersRequestType" />
  </message>

  <message name="AdminCountNoGroupUsersResponse">
    <part name="returns" type="typens:AdminCountNoGroupUsersResponseType" />
  </message>
  
  <message name="AdminGetNoGroupUserIdsRequest">
    <part name="parameters" type="typens:AdminGetNoGroupUserIdsRequestType" />
  </message>

  <message name="AdminGetNoGroupUserIdsResponse">
    <part name="returns" type="typens:AdminGetNoGroupUserIdsResponseType" />
  </message>
  
  <message name="AdminCountOrgsOfUserRequest">
    <part name="parameters" type="typens:AdminCountOrgsOfUserRequestType" />
  </message>

  <message name="AdminCountOrgsOfUserResponse">
    <part name="returns" type="typens:AdminCountOrgsOfUserResponseType" />
  </message>
  
  <message name="AdminGetOrgIdsOfUserRequest">
    <part name="parameters" type="typens:AdminGetOrgIdsOfUserRequestType" />
  </message>

  <message name="AdminGetOrgIdsOfUserResponse">
    <part name="returns" type="typens:AdminGetOrgIdsOfUserResponseType" />
  </message>

  <message name="AdminGetParentOrgIdRequest">
    <part name="parameters" type="typens:AdminGetParentOrgIdRequestType" />
  </message>

  <message name="AdminGetParentOrgIdResponse">
    <part name="returns" type="typens:AdminGetParentOrgIdResponseType" />
  </message>

  <message name="AdminGetUserIdByLoginNameRequest">
    <part name="parameters" type="typens:AdminGetUserIdByLoginNameRequestType" />
  </message>

  <message name="AdminGetUserIdByLoginNameResponse">
    <part name="returns" type="typens:AdminGetUserIdByLoginNameResponseType" />
  </message>
  
  <message name="AdminGetOrgIdByOrgCodeRequest">
    <part name="parameters" type="typens:AdminGetOrgIdByOrgCodeRequestType" />
  </message>

  <message name="AdminGetOrgIdByOrgCodeResponse">
    <part name="returns" type="typens:AdminGetOrgIdByOrgCodeResponseType" />
  </message>
  
  <portType name="AdminPort">
    <operation name="AdminCountUsers">
      <documentation>
        This API returns the number of users in a Garoon system.
      </documentation>
      <input message="tns:AdminCountUsersRequest" />
      <output message="tns:AdminCountUsersResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>
    
    <operation name="AdminGetUserIds">
      <documentation>
        This API returns the list of userIds in a Garoon system. 
        The starting position of userIds and the limit number of userIds can be set 
        via parameters "offset" and "limit". If no parameters is set, all userIds 
        will be returned.
      </documentation>
      <input message="tns:AdminGetUserIdsRequest" />
      <output message="tns:AdminGetUserIdsResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>
    
    <operation name="AdminGetUserDetailByIds">
      <documentation>
        This function returns the details of an user specified by his/her userId.
      </documentation>
      <input message="tns:AdminGetUserDetailByIdsRequest" />
      <output message="tns:AdminGetUserDetailByIdsResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>
    
    <operation name="AdminCountOrgs">
      <documentation>
        This function returns the number of organizations in a Garoon system.
      </documentation>
      <input message="tns:AdminCountOrgsRequest" />
      <output message="tns:AdminCountOrgsResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>
    
    <operation name="AdminGetOrgIds">
      <documentation>
        This function returns a list of organization ID in a Garoon system.
        By setting "offset" and "limit", one can retrieve a part from the list.
      </documentation>
      <input message="tns:AdminGetOrgIdsRequest" />
      <output message="tns:AdminGetOrgIdsResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>
    
    <operation name="AdminGetOrgDetailByIds">
      <documentation>
        This function returns the details of an organization specified by its orgId.
      </documentation>
      <input message="tns:AdminGetOrgDetailByIdsRequest" />
      <output message="tns:AdminGetOrgDetailByIdsResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>
    
    <operation name="AdminCountChildOrgs">
      <documentation>
        This function returns the number of child organizations below an organization.
      </documentation>
      <input message="tns:AdminCountChildOrgsRequest" />
      <output message="tns:AdminCountChildOrgsResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>
    
    <operation name="AdminGetChildOrgs">
      <documentation>
        This function returns a list of child organizations below an organization.
        By setting "offset" and "limit", one can retrieve a part from the list.
      </documentation>
      <input message="tns:AdminGetChildOrgsRequest" />
      <output message="tns:AdminGetChildOrgsResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>
    
    <operation name="AdminCountUsersInOrg">
      <documentation>
        This function returns the number of users inside an organization.
        Since the root org in Garoon does not have users, using root org 
        in parameter will raise a value error of -1 in the response XML.
      </documentation>
      <input message="tns:AdminCountUsersInOrgRequest" />
      <output message="tns:AdminCountUsersInOrgResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>
    
    <operation name="AdminGetUserIdsInOrg">
      <documentation>
        This function returns a list of users inside an organization.
        By setting "offset" and "limit", one can retrieve a part from the list.
        Since root org in Garoon does not have users, using root org 
        in parameter will raise a value error of -1 in the response XML.
      </documentation>
      <input message="tns:AdminGetUserIdsInOrgRequest" />
      <output message="tns:AdminGetUserIdsInOrgResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>

    <operation name="AdminCountNoGroupUsers">
      <documentation>
        This function returns the number of users inside an organization.
        Since the root org in Garoon does not have users, using root org 
        in parameter will raise a value error of -1 in the response XML.
      </documentation>
      <input message="tns:AdminCountNoGroupUsersRequest" />
      <output message="tns:AdminCountNoGroupUsersResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>

    <operation name="AdminGetNoGroupUserIds">
      <documentation>
        This function returns a list of users inside an organization.
        By setting "offset" and "limit", one can retrieve a part from the list.
        Since root org in Garoon does not have users, using root org 
        in parameter will raise a value error of -1 in the response XML.
      </documentation>
      <input message="tns:AdminGetNoGroupUserIdsRequest" />
      <output message="tns:AdminGetNoGroupUserIdsResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>
    
    <operation name="AdminCountOrgsOfUser">
      <documentation>
        This function returns the number of organizations that a user belongs to.
        If that userId does not exist, it returns an userId=-1 in the response XML.
      </documentation>
      <input message="tns:AdminCountOrgsOfUserRequest" />
      <output message="tns:AdminCountOrgsOfUserResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>
    
    <operation name="AdminGetOrgIdsOfUser">
      <documentation>
        This function returns a list of of organizations that a user belongs to.
        By setting "offset" and "limit", one can retrieve a part from the list.
      </documentation>
      <input message="tns:AdminGetOrgIdsOfUserRequest" />
      <output message="tns:AdminGetOrgIdsOfUserResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>
    
    <operation name="AdminGetParentOrgId">
      <documentation>
        This function returns the parent organization of a organization.
        It returns an orgId=0 if the parent is the root org in Garoon.
        It returns a minus orgId if the current org does not exist.
        In other cases, it returns a valid orgId.
      </documentation>
      <input message="tns:AdminGetParentOrgIdRequest" />
      <output message="tns:AdminGetParentOrgIdResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>
    
    <operation name="AdminGetUserIdByLoginName">
      <documentation>
      This API function returns a user's positive userId by his/her login name.
      If that login name does not exist, it returns a negative userId, that means an error.
      </documentation>
      <input message="tns:AdminGetUserIdByLoginNameRequest" />
      <output message="tns:AdminGetUserIdByLoginNameResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>
    
    <operation name="AdminGetOrgIdByOrgCode">
      <documentation>
        Return the orgId of an organization by its org_code.
        If that organization does not exist, it returns a minus orgId -1.
      </documentation>
      <input message="tns:AdminGetOrgIdByOrgCodeRequest" />
      <output message="tns:AdminGetOrgIdByOrgCodeResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>
  </portType>

  <binding name="AdminBinding" type="tns:AdminPort">
    <soap12:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />

    <operation name="AdminCountUsers">
      <soap12:operation soapAction="AdminCountUsers" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
      </fault>
    </operation>
    
    <operation name="AdminGetUserIds">
      <soap12:operation soapAction="AdminGetUserIds" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
      </fault>
    </operation>
    
    <operation name="AdminGetUserDetailByIds">
      <soap12:operation soapAction="AdminGetUserDetailByIds" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
      </fault>
    </operation>
    
    <operation name="AdminCountOrgs">
    <soap12:operation soapAction="AdminCountOrgs" soapActionRequired="true" />
    <input>
      <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
    </input>
    <output>
      <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
    </output>
    <fault name="CybozuError">
      <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
    </fault>
    </operation>
    
    <operation name="AdminGetOrgIds">
    <soap12:operation soapAction="AdminGetOrgIds" soapActionRequired="true" />
    <input>
      <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
    </input>
    <output>
      <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
    </output>
    <fault name="CybozuError">
      <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
    </fault>
    </operation>
    
    <operation name="AdminGetOrgDetailByIds">
    <soap12:operation soapAction="AdminGetOrgDetailByIds" soapActionRequired="true" />
    <input>
      <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
    </input>
    <output>
      <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
    </output>
    <fault name="CybozuError">
      <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
    </fault>
    </operation>
    
    <operation name="AdminCountChildOrgs">
    <soap12:operation soapAction="AdminCountChildOrgs" soapActionRequired="true" />
    <input>
      <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
    </input>
    <output>
      <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
    </output>
    <fault name="CybozuError">
      <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
    </fault>
    </operation>
    
    <operation name="AdminGetChildOrgs">
    <soap12:operation soapAction="AdminGetChildOrgs" soapActionRequired="true" />
    <input>
      <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
    </input>
    <output>
      <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
    </output>
    <fault name="CybozuError">
      <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
    </fault>
    </operation>
    
    <operation name="AdminCountUsersInOrg">
    <soap12:operation soapAction="AdminCountUsersInOrg" soapActionRequired="true" />
    <input>
      <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
    </input>
    <output>
      <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
    </output>
    <fault name="CybozuError">
      <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
    </fault>
    </operation>
    
    <operation name="AdminGetUserIdsInOrg">
    <soap12:operation soapAction="AdminGetUserIdsInOrg" soapActionRequired="true" />
    <input>
      <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
    </input>
    <output>
      <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
    </output>
    <fault name="CybozuError">
      <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
    </fault>
    </operation>
    
    <operation name="AdminCountNoGroupUsers">
    <soap12:operation soapAction="AdminCountNoGroupUsers" soapActionRequired="true" />
    <input>
      <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
    </input>
    <output>
      <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
    </output>
    <fault name="CybozuError">
      <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
    </fault>
    </operation>

    <operation name="AdminGetNoGroupUserIds">
    <soap12:operation soapAction="AdminGetNoGroupUserIds" soapActionRequired="true" />
    <input>
      <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
    </input>
    <output>
      <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
    </output>
    <fault name="CybozuError">
      <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
    </fault>
    </operation>
    
    <operation name="AdminCountOrgsOfUser">
    <soap12:operation soapAction="AdminCountOrgsOfUser" soapActionRequired="true" />
    <input>
      <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
    </input>
    <output>
      <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
    </output>
    <fault name="CybozuError">
      <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
    </fault>
    </operation>
    
    <operation name="AdminGetOrgIdsOfUser">
    <soap12:operation soapAction="AdminGetOrgIdsOfUser" soapActionRequired="true" />
    <input>
      <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
    </input>
    <output>
      <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
    </output>
    <fault name="CybozuError">
      <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
    </fault>
    </operation>
    
    <operation name="AdminGetParentOrgId">
    <soap12:operation soapAction="AdminGetParentOrgId" soapActionRequired="true" />
    <input>
      <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
    </input>
    <output>
      <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
    </output>
    <fault name="CybozuError">
      <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
    </fault>
    </operation>
    
    <operation name="AdminGetUserIdByLoginName">
    <soap12:operation soapAction="AdminGetUserIdByLoginName" soapActionRequired="true" />
    <input>
      <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
    </input>
    <output>
      <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
    </output>
    <fault name="CybozuError">
      <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
    </fault>
    </operation>
    
    <operation name="AdminGetOrgIdByOrgCode">
    <soap12:operation soapAction="AdminGetOrgIdByOrgCode" soapActionRequired="true" />
    <input>
      <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
    </input>
    <output>
      <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
    </output>
    <fault name="CybozuError">
      <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/admin/2008" />
    </fault>
    </operation>
  </binding>
</definitions>
