source/web_root/api/2008/base.wsdl

<?xml version="1.0" ?>
<definitions name="CybozuBaseServices"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://wsdl.cybozu.co.jp/base/2008"
             xmlns:typens="http://wsdl.cybozu.co.jp/base/2008/types"
             xmlns:tns="http://wsdl.cybozu.co.jp/base/2008"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

  <types>
    <xsd:schema targetNamespace="http://wsdl.cybozu.co.jp/base/2008/types"
                xmlns="http://www.w3.org/2001/XMLSchema"
                xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                xmlns:base="http://schemas.cybozu.co.jp/base/2008">

      <xsd:import namespace="http://schemas.cybozu.co.jp/base/2008"
                  schemaLocation="base.xsd" />

      <xsd:complexType name="FaultMessageType">
        <xsd:attribute name="code" type="base:NonBlankStringType" use="required" />
        <xsd:attribute name="diagnosis" type="xsd:string" use="required" />
        <xsd:attribute name="cause" type="xsd:string" use="required" />
        <xsd:attribute name="counter_measure" type="xsd:string" use="required" />
      </xsd:complexType>
      <xsd:element name="fault" type="typens:FaultMessageType" />

      <xsd:complexType name="ItemVersionType">
        <xsd:attribute name="id" type="base:IDType" use="required" />
        <xsd:attribute name="version" type="base:VersionType" use="required" />
      </xsd:complexType>

      <xsd:simpleType name="ItemOperationType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="add" />
          <xsd:enumeration value="modify" />
          <xsd:enumeration value="remove" />
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:complexType name="ItemVersionResultType">
        <xsd:attribute name="id" type="base:IDType" use="required" />
        <xsd:attribute name="version" type="base:VersionType" use="required" />
        <xsd:attribute name="operation" type="typens:ItemOperationType" use="required" />
      </xsd:complexType>

      <xsd:complexType name="FileBodyType">
        <xsd:sequence>
          <xsd:element name="content" type="xsd:base64Binary" minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="BaseGetUserVersionsRequestType">
        <xsd:sequence>
          <xsd:element name="user_item" type="typens:ItemVersionType"
                       minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BaseGetUserVersionsResponseType">
        <xsd:sequence>
          <xsd:element name="user_item" type="typens:ItemVersionResultType"
                       minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="BaseGetUsersByIdRequestType">
        <xsd:sequence>
          <xsd:element name="user_id" type="base:IDType"
                       minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BaseGetUsersByIdResponseType">
        <xsd:sequence>
          <xsd:element name="user" type="base:UserType"
                       minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="BaseGetUsersByLoginNameRequestType">
        <xsd:sequence>
          <xsd:element name="login_name" type="base:NonBlankStringType"
                       minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BaseGetUsersByLoginNameResponseType">
        <xsd:sequence>
          <xsd:element name="user" type="base:UserType"
                       minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="BaseGetOrganizationVersionsRequestType">
        <xsd:sequence>
          <xsd:element name="organization_item" type="typens:ItemVersionType"
                       minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BaseGetOrganizationVersionsResponseType">
        <xsd:sequence>
          <xsd:element name="organization_item" type="typens:ItemVersionResultType"
                       minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="BaseGetOrganizationsByIdRequestType">
        <xsd:sequence>
          <xsd:element name="organization_id" type="base:IDType"
                       minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BaseGetOrganizationsByIdResponseType">
        <xsd:sequence>
          <xsd:element name="organization" type="base:OrganizationType"
                       minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="BaseGetMyGroupVersionsRequestType">
        <xsd:sequence>
          <xsd:element name="my_group_item" type="typens:ItemVersionType"
                       minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BaseGetMyGroupVersionsResponseType">
        <xsd:sequence>
          <xsd:element name="my_group_item" type="typens:ItemVersionResultType"
                       minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="BaseMyGroupType">
        <xsd:complexContent>
          <xsd:extension base="base:GroupType">
            <xsd:sequence>
              <xsd:element name="belong_member" type="base:IDType"
                           minOccurs="0" maxOccurs="unbounded" />
              <xsd:element name="belong_facility" type="base:IDType"
                           minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="BaseGetMyGroupsByIdRequestType">
        <xsd:sequence>
          <xsd:element name="my_group_id" type="base:IDType"
                       minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BaseGetMyGroupsByIdResponseType">
        <xsd:sequence>
          <xsd:element name="my_group" type="typens:BaseMyGroupType"
                       minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="BaseGetFrequentUsersRequestType">
      </xsd:complexType>
      <xsd:complexType name="BaseGetFrequentUsersResponseType">
        <xsd:sequence>
          <xsd:element name="user_id" type="base:IDType"
                       minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="BaseGetFrequentOrganizationsRequestType">
      </xsd:complexType>
      <xsd:complexType name="BaseGetFrequentOrganizationsResponseType">
        <xsd:sequence>
          <xsd:element name="organization_id" type="base:IDType"
                       minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:simpleType name="BaseCalendarEventTypeType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="public_holiday" />
          <xsd:enumeration value="memorial_day" />
          <xsd:enumeration value="system_memo" />
          <xsd:enumeration value="user_memo" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="BaseCalendarEventType">
        <xsd:attribute name="date" type="xsd:date" />
        <xsd:attribute name="content" type="xsd:string" />
        <xsd:attribute name="type" type="typens:BaseCalendarEventTypeType" />
      </xsd:complexType>
      <xsd:complexType name="BaseGetCalendarEventsRequestType">
      </xsd:complexType>
      <xsd:complexType name="BaseGetCalendarEventsResponseType">
        <xsd:sequence>
          <xsd:element name="calendar_event" type="typens:BaseCalendarEventType"
                       minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:simpleType name="BaseApplicationStatusType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="active" />
          <xsd:enumeration value="deactive" />
          <xsd:enumeration value="license_expired" />
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:complexType name="BaseApplicationType">
        <xsd:attribute name="code" type="base:NonBlankStringType" />
        <xsd:attribute name="status" type="typens:BaseApplicationStatusType" />
      </xsd:complexType>

      <xsd:complexType name="BaseGetApplicationStatusRequestType">
      </xsd:complexType>
      <xsd:complexType name="BaseGetApplicationStatusResponseType">
        <xsd:sequence>
          <xsd:element name="application" type="typens:BaseApplicationType"
                       minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="BaseApplicationInformationType">
        <xsd:sequence>
          <xsd:element name="app_icon" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:attribute name="id" type="base:NonBlankStringType" use="required" />
              <xsd:attribute name="url" type="xsd:anyURI" use="required" />
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="available_client" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:attribute name="name" type="base:NonBlankStringType" use="required" />
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="module_id" type="base:IDType" use="required" />
        <xsd:attribute name="name" type="base:NonBlankStringType" use="required" />
        <xsd:attribute name="url" type="xsd:anyURI" />
        <xsd:attribute name="available_feature" type="xsd:positiveInteger" use="required" />
      </xsd:complexType>

      <xsd:complexType name="BaseGetApplicationInformationRequestType">
      </xsd:complexType>
      <xsd:complexType name="BaseGetApplicationInformationResponseType">
        <xsd:sequence>
          <xsd:element name="application" type="typens:BaseApplicationInformationType"
                     minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="BaseFileDownloadRequestType">
        <xsd:attribute name="file_id" type="base:IDType" use="required" />
      </xsd:complexType>
      <xsd:complexType name="BaseFileDownloadResponseType">
        <xsd:sequence>
          <xsd:element name="file" type="typens:FileBodyType"
                       minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="BaseGetRegionsListRequestType">
      </xsd:complexType>
      <xsd:complexType name="BaseGetRegionsListResponseType">
        <xsd:sequence>
          <xsd:element name="region" type="base:RegionType"
                       minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="BaseGetTimezoneVersionRequestType">
      </xsd:complexType>
      <xsd:complexType name="BaseGetTimezoneVersionResponseType">
        <xsd:sequence>
          <xsd:element name="timezone_version" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="BaseManagerApplicationType">
          <xsd:attribute name="code" type="xsd:string" use="required"/>
          <xsd:attribute name="active" type="xsd:boolean"/>
      </xsd:complexType>

      <xsd:complexType name="BaseManagerApplicationRequestType">
        <xsd:sequence>
          <xsd:element name="application" type="typens:BaseManagerApplicationType"
                       minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BaseManagerApplicationResponseType">
        <xsd:sequence>
          <xsd:element name="request_token" type="xsd:string" minOccurs="0" maxOccurs="1" />
          <xsd:element name="application" type="typens:BaseApplicationType"
                       minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>

    </xsd:schema>
  </types>

  <message name="Fault">
    <part name="message" element="typens:fault" />
  </message>

  <message name="EmptyRequest">
  </message>
  <message name="EmptyResponse">
  </message>

  <message name="BaseGetUserVersionsRequest">
    <part name="parameters" type="typens:BaseGetUserVersionsRequestType" />
  </message>
  <message name="BaseGetUserVersionsResponse">
    <part name="returns" type="typens:BaseGetUserVersionsResponseType" />
  </message>

  <message name="BaseGetUsersByIdRequest">
    <part name="parameters" type="typens:BaseGetUsersByIdRequestType" />
  </message>
  <message name="BaseGetUsersByIdResponse">
    <part name="returns" type="typens:BaseGetUsersByIdResponseType" />
  </message>

  <message name="BaseGetUsersByLoginNameRequest">
    <part name="parameters" type="typens:BaseGetUsersByLoginNameRequestType" />
  </message>
  <message name="BaseGetUsersByLoginNameResponse">
    <part name="returns" type="typens:BaseGetUsersByLoginNameResponseType" />
  </message>

  <message name="BaseGetOrganizationVersionsRequest">
    <part name="parameters" type="typens:BaseGetOrganizationVersionsRequestType" />
  </message>
  <message name="BaseGetOrganizationVersionsResponse">
    <part name="returns" type="typens:BaseGetOrganizationVersionsResponseType" />
  </message>

  <message name="BaseGetOrganizationsByIdRequest">
    <part name="parameters" type="typens:BaseGetOrganizationsByIdRequestType" />
  </message>
  <message name="BaseGetOrganizationsByIdResponse">
    <part name="returns" type="typens:BaseGetOrganizationsByIdResponseType" />
  </message>

  <message name="BaseGetMyGroupVersionsRequest">
    <part name="parameters" type="typens:BaseGetMyGroupVersionsRequestType" />
  </message>
  <message name="BaseGetMyGroupVersionsResponse">
    <part name="returns" type="typens:BaseGetMyGroupVersionsResponseType" />
  </message>

  <message name="BaseGetMyGroupsByIdRequest">
    <part name="parameters" type="typens:BaseGetMyGroupsByIdRequestType" />
  </message>
  <message name="BaseGetMyGroupsByIdResponse">
    <part name="returns" type="typens:BaseGetMyGroupsByIdResponseType" />
  </message>

  <message name="BaseGetFrequentUsersRequest">
    <part name="parameters" type="typens:BaseGetFrequentUsersRequestType" />
  </message>
  <message name="BaseGetFrequentUsersResponse">
    <part name="returns" type="typens:BaseGetFrequentUsersResponseType" />
  </message>
  
  <message name="BaseGetFrequentOrganizationsRequest">
    <part name="parameters" type="typens:BaseGetFrequentOrganizationsRequestType" />
  </message>
  <message name="BaseGetFrequentOrganizationsResponse">
    <part name="returns" type="typens:BaseGetFrequentOrganizationsResponseType" />
  </message>

  <message name="BaseGetCalendarEventsRequest">
    <part name="parameters" type="typens:BaseGetCalendarEventsRequestType" />
  </message>
  <message name="BaseGetCalendarEventsResponse">
    <part name="returns" type="typens:BaseGetCalendarEventsResponseType" />
  </message>

  <message name="BaseGetApplicationStatusRequest">
    <part name="parameters" type="typens:BaseGetApplicationStatusRequestType" />
  </message>
  <message name="BaseGetApplicationStatusResponse">
    <part name="returns" type="typens:BaseGetApplicationStatusResponseType" />
  </message>

  <message name="BaseGetApplicationInformationRequest">
    <part name="parameters" type="typens:BaseGetApplicationInformationRequestType" />
  </message>
  <message name="BaseGetApplicationInformationResponse">
    <part name="returns" type="typens:BaseGetApplicationInformationResponseType" />
  </message>

  <message name="BaseFileDownloadRequest">
    <part name="parameters" type="typens:BaseFileDownloadRequestType" />
  </message>
  <message name="BaseFileDownloadResponse">
    <part name="returns" type="typens:BaseFileDownloadResponseType" />
  </message>

  <message name="BaseGetRegionsListRequest">
    <part name="parameters" type="typens:BaseGetRegionsListRequestType" />
  </message>
  <message name="BaseGetRegionsListResponse">
    <part name="returns" type="typens:BaseGetRegionsListResponseType" />
  </message>

  <message name="BaseGetTimezoneVersionRequest">
    <part name="parameters" type="typens:BaseGetTimezoneVersionRequestType" />
  </message>
  <message name="BaseGetTimezoneVersionResponse">
    <part name="returns" type="typens:BaseGetTimezoneVersionResponseType" />
  </message>

  <message name="BaseManagerApplicationRequest">
    <part name="parameters" type="typens:BaseManagerApplicationRequestType" />
  </message>
  <message name="BaseManagerApplicationResponse">
    <part name="returns" type="typens:BaseManagerApplicationResponseType" />
  </message>

  <portType name="BasePort">

    <operation name="BaseGetUserVersions">
      <documentation>
        This API gets the modified users.
        "user_item" is a list of user that a client has.

        The service returns the operation to the received users.
        The operations are compared by the version number.
        - "modify" is returned when the version number that the service has is different.
        - A user that exists in the service that had not been sent from client is "add".
        - A user that doesn't exist in the service that has been sent from client is "remove "
        - Nothing is returned when the version number is the same.
      </documentation>
      <input message="tns:BaseGetUserVersionsRequest" />
      <output message="tns:BaseGetUserVersionsResponse" />
      <fault name="CybozuError" message="tns:Fault" />
    </operation>

    <operation name="BaseGetUsersById">
      <documentation>
        This API gets the users by user id.
        The client sends list of "user_id" for specify the user to search.
        The service returns the user that matches to "user_id".
      </documentation>
      <input message="tns:BaseGetUsersByIdRequest" />
      <output message="tns:BaseGetUsersByIdResponse" />
      <fault name="CybozuError" message="tns:Fault" />
    </operation>

    <operation name="BaseGetUsersByLoginName">
      <documentation>
        This API gets the users by the login name of user.
        The client sends list of "login_name" for specify the user to search.
        The service returns the user that matches to "login_name".
      </documentation>
      <input message="tns:BaseGetUsersByLoginNameRequest" />
      <output message="tns:BaseGetUsersByLoginNameResponse" />
      <fault name="CybozuError" message="tns:Fault" />
    </operation>

    <operation name="BaseGetOrganizationVersions">
      <documentation>
        This API gets the modified organizations.
        "organization_item" is a list of organization that a client has.

        The service returns the operation to the received organizations.
        The operations are compared by the version number.
        - "modify" is returned when the version number that the service has is different.
        - A organization that exists in the service that had not been sent from client is "add".
        - A organization that doesn't exist in the service that has been sent from client is "remove "
        - Nothing is returned when the version number is the same.
      </documentation>
      <input message="tns:BaseGetOrganizationVersionsRequest" />
      <output message="tns:BaseGetOrganizationVersionsResponse" />
      <fault name="CybozuError" message="tns:Fault" />
    </operation>

    <operation name="BaseGetOrganizationsById">
      <documentation>
        This API gets the organizations by organization id.
        The client sends list of "organization_id" for specify the organization to search.
        The service returns the organization that matches to "organization_id".
      </documentation>
      <input message="tns:BaseGetOrganizationsByIdRequest" />
      <output message="tns:BaseGetOrganizationsByIdResponse" />
      <fault name="CybozuError" message="tns:Fault" />
    </operation>

    <operation name="BaseGetMyGroupVersions">
      <documentation>
        This API gets the modified my groups.
        "my_group_item" is a list of the my group that a client has.

        The service returns the operation to the received my groups.
        The operations are compared by the version number.
        - "modify" is returned when the version number that the service has is different.
        - A my group that exists in the service that had not been sent from client is "add".
        - A my group that doesn't exist in the service that has been sent from client is "remove "
        - Nothing is returned when the version number is the same.
      </documentation>
      <input message="tns:BaseGetMyGroupVersionsRequest" />
      <output message="tns:BaseGetMyGroupVersionsResponse" />
      <fault name="CybozuError" message="tns:Fault" />
    </operation>

    <operation name="BaseGetMyGroupsById">
      <documentation>
        This API gets the organizations by the my group id.
        The client sends list of "my_group_id" for specify the my group to search.
        The service returns the my group that matches to "my_group_id".
      </documentation>
      <input message="tns:BaseGetMyGroupsByIdRequest" />
      <output message="tns:BaseGetMyGroupsByIdResponse" />
      <fault name="CybozuError" message="tns:Fault" />
    </operation>

    <operation name="BaseGetFrequentUsers">
      <documentation>
        This API gets the users frequent use.
      </documentation>
      <input message="tns:BaseGetFrequentUsersRequest" />
      <output message="tns:BaseGetFrequentUsersResponse" />
      <fault name="CybozuError" message="tns:Fault" />
    </operation>

    <operation name="BaseGetFrequentOrganizations">
      <documentation>
        This API gets the organization frequent use.
      </documentation>
      <input message="tns:BaseGetFrequentOrganizationsRequest" />
      <output message="tns:BaseGetFrequentOrganizationsResponse" />
      <fault name="CybozuError" message="tns:Fault" />
    </operation>

    <operation name="BaseGetCalendarEvents">
      <documentation>
        This API gets list of events in my calendar.
      </documentation>
      <input message="tns:BaseGetCalendarEventsRequest" />
      <output message="tns:BaseGetCalendarEventsResponse" />
      <fault name="CybozuError" message="tns:Fault" />
    </operation>

    <operation name="BaseGetApplicationStatus">
      <documentation>
        This API gets the application status.
        The application status is whether the application can be used.
        -  "active" is status that application can be used.
        -  "deactive" is status that application cannot be used.
        - "license_expired" is status that application cannot be used because license expired.
      </documentation>
      <input message="tns:BaseGetApplicationStatusRequest" />
      <output message="tns:BaseGetApplicationStatusResponse" />
      <fault name="CybozuError" message="tns:Fault" />
    </operation>

    <operation name="BaseGetApplicationInformation">
      <documentation>
        This API gets the application information.
      </documentation>
      <input message="tns:BaseGetApplicationInformationRequest" />
      <output message="tns:BaseGetApplicationInformationResponse" />
      <fault name="CybozuError" message="tns:Fault" />
    </operation>

    <operation name="BaseFileDownload">
      <documentation>
        This API downloads the attached file.
      </documentation>
      <input message="tns:BaseFileDownloadRequest" />
      <output message="tns:BaseFileDownloadResponse" />
      <fault name="CybozuError" message="tns:Fault" />
    </operation>

    <operation name="BaseGetRegionsList">
      <documentation>
        This API gets regions list.
      </documentation>
      <input message="tns:BaseGetRegionsListRequest" />
      <output message="tns:BaseGetRegionsListResponse" />
      <fault name="CybozuError" message="tns:Fault" />
    </operation>

    <operation name="BaseGetTimezoneVersion">
      <documentation>
        This API gets TimezoneDB version of PHP on Garoon.
      </documentation>
      <input message="tns:BaseGetTimezoneVersionRequest" />
      <output message="tns:BaseGetTimezoneVersionResponse" />
      <fault name="CybozuError" message="tns:Fault" />
    </operation>

    <operation name="BaseManagerApplication">
      <documentation>
        An API to set applications ON/OFF.
      </documentation>
      <input message="tns:BaseManagerApplicationRequest" />
      <output message="tns:BaseManagerApplicationResponse" />
      <fault name="CybozuError" message="tns:Fault" />
    </operation>

  </portType>

  <binding name="BaseBinding" type="tns:BasePort">
    <soap12:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />

    <operation name="BaseGetUserVersions">
      <soap12:operation soapAction="BaseGetUserVersions" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008"  />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </fault>
    </operation>

    <operation name="BaseGetUsersById">
      <soap12:operation soapAction="BaseGetUsersById" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </fault>
    </operation>

    <operation name="BaseGetUsersByLoginName">
      <soap12:operation soapAction="BaseGetUsersByLoginName" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </fault>
    </operation>

    <operation name="BaseGetOrganizationVersions">
      <soap12:operation soapAction="BaseGetOrganizationVersions" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </fault>
    </operation>

    <operation name="BaseGetOrganizationsById">
      <soap12:operation soapAction="BaseGetOrganizationsById" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </fault>
    </operation>

    <operation name="BaseGetMyGroupVersions">
      <soap12:operation soapAction="BaseGetMyGroupVersions" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </fault>
    </operation>

    <operation name="BaseGetMyGroupsById">
      <soap12:operation soapAction="BaseGetMyGroupsById" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </fault>
    </operation>

    <operation name="BaseGetFrequentUsers">
      <soap12:operation soapAction="BaseGetFrequentUsers" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </fault>
    </operation>

    <operation name="BaseGetFrequentOrganizations">
      <soap12:operation soapAction="BaseGetFrequentOrganizations" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </fault>
    </operation>

    <operation name="BaseGetCalendarEvents">
      <soap12:operation soapAction="BaseGetCalendarEvents" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </fault>
    </operation>

    <operation name="BaseGetApplicationStatus">
      <soap12:operation soapAction="BaseGetApplicationStatus" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </fault>
    </operation>

    <operation name="BaseGetApplicationInformation">
      <soap12:operation soapAction="BaseGetApplicationInformation" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </fault>
    </operation>

    <operation name="BaseFileDownload">
      <soap12:operation soapAction="BaseFileDownload" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </fault>
    </operation>

    <operation name="BaseGetRegionsList">
      <soap12:operation soapAction="BaseGetRegionsList" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </fault>
    </operation>

    <operation name="BaseGetTimezoneVersion">
      <soap12:operation soapAction="BaseGetTimezoneVersion" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </fault>
    </operation>

    <operation name="BaseManagerApplication">
      <soap12:operation soapAction="BaseManagerApplication" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/base/2008" />
      </fault>
    </operation>

  </binding>

</definitions>
