source/web_root/api/2008/mail.wsdl

<?xml version="1.0" ?>
<definitions name="CybozuMailServices"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://wsdl.cybozu.co.jp/mail/2008"
             xmlns:typens="http://wsdl.cybozu.co.jp/mail/2008/types"
             xmlns:tns="http://wsdl.cybozu.co.jp/mail/2008"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:base_services="http://wsdl.cybozu.co.jp/base/2008">

  <wsdl:import namespace="http://wsdl.cybozu.co.jp/base/2008" location="base.wsdl"/>

  <types>
    <xsd:schema targetNamespace="http://wsdl.cybozu.co.jp/mail/2008/types"
                xmlns="http://www.w3.org/2001/XMLSchema"
                xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                xmlns:base="http://schemas.cybozu.co.jp/base/2008"
                xmlns:mail="http://schemas.cybozu.co.jp/mail/2008"
                xmlns:base_types="http://wsdl.cybozu.co.jp/base/2008/types">

      <xsd:import namespace="http://schemas.cybozu.co.jp/base/2008"
                  schemaLocation="base.xsd" />
      <xsd:import namespace="http://schemas.cybozu.co.jp/mail/2008"
                  schemaLocation="mail.xsd" />
      <xsd:import namespace="http://wsdl.cybozu.co.jp/base/2008/types" />
      
      <xsd:complexType name="MailGetAccountVersionsRequestType">
        <xsd:sequence>
          <xsd:element name="account_item" type="base_types:ItemVersionType"
                       minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MailGetAccountVersionsResponseType">
        <xsd:sequence>
          <xsd:element name="account_item" type="base_types:ItemVersionResultType"
                       minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="MailGetAccountsByIdRequestType">
        <xsd:sequence>
          <xsd:element name="account_id" type="base:IDType"
                       minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MailGetAccountsByIdResponseType">
        <xsd:sequence>
          <xsd:element name="account" type="mail:AccountType"
                       minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="MailGetMailVersionsRequestType">
        <xsd:sequence>
          <xsd:element name="mail_item" type="base_types:ItemVersionType"
                       minOccurs="0" maxOccurs="unbounded" />
          <xsd:element name="folder_id" type="base:IDType"
                       minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="start" type="xsd:dateTime" use="required" />
        <xsd:attribute name="end" type="xsd:dateTime" use="optional" />
      </xsd:complexType>
      <xsd:complexType name="MailGetMailVersionsResponseType">
        <xsd:sequence>
          <xsd:element name="mail_item" type="base_types:ItemVersionResultType"
                       minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="MailGetMailsByIdRequestType">
        <xsd:sequence>
          <xsd:element name="mail_id" type="base:IDType"
                       minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MailGetMailsByIdResponseType">
        <xsd:sequence>
          <xsd:element name="mail" type="mail:MailType"
                       minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="MailSendMailType">
        <xsd:sequence>
          <xsd:element name="mail" type="mail:MailType"
                       minOccurs="1" maxOccurs="1" />
          <xsd:element name="file" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="content" type="xsd:base64Binary"
                             minOccurs="1" maxOccurs="1" />
              </xsd:sequence>
              <xsd:attribute name="id" type="base:IDType" />
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="remove_file_id" type="base:IDType"
                         minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="account_id" type="base:IDType" use="required" />
        <xsd:attribute name="from_string" type="base:NonBlankStringType" use="optional" />
        <xsd:attribute name="sender_string" type="base:NonBlankStringType" use="optional" />
        <xsd:attribute name="to_string" type="base:NonBlankStringType" use="optional" />
        <xsd:attribute name="cc_string" type="base:NonBlankStringType" use="optional" />
        <xsd:attribute name="bcc_string" type="base:NonBlankStringType" use="optional" />
        <xsd:attribute name="reply_to_string" type="base:NonBlankStringType" use="optional" />
        <xsd:attribute name="draft_id" type="base:IDType" use="optional" />
      </xsd:complexType>
      <xsd:complexType name="MailSendMailsRequestType">
        <xsd:sequence>
          <xsd:element name="request_token" type="xsd:string" minOccurs="0" maxOccurs="1" />
          <xsd:element name="send_mail" type="typens:MailSendMailType"
                       minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MailSendMailsResponseType">
        <xsd:sequence>
          <xsd:element name="mail" type="mail:MailType"
                       minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="MailReplyMailsRequestType">
        <xsd:sequence>
          <xsd:element name="request_token" type="xsd:string" minOccurs="0" maxOccurs="1" />
          <xsd:element name="reply_mail" type="typens:MailSendMailType"
                       minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="reply_all" type="xsd:boolean" use="required" />
      </xsd:complexType>
      <xsd:complexType name="MailReplyMailsResponseType">
        <xsd:sequence>
          <xsd:element name="mail" type="mail:MailType"
                       minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="MailForwardMailType">
        <xsd:complexContent>
          <xsd:extension base="typens:MailSendMailType">
            <xsd:attribute name="mail_id" type="base:IDType" use="required" />
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="MailForwardMailsRequestType">
        <xsd:sequence>
          <xsd:element name="request_token" type="xsd:string" minOccurs="0" maxOccurs="1" />
          <xsd:element name="forward_mail" type="typens:MailForwardMailType"
                       minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MailForwardMailsResponseType">
        <xsd:sequence>
          <xsd:element name="mail" type="mail:MailType"
                       minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:simpleType name="MailDraftOperationType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="send" />
          <xsd:enumeration value="reply" />
          <xsd:enumeration value="reply_all" />
          <xsd:enumeration value="forward" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="MailDraftMailType">
        <xsd:complexContent>
          <xsd:extension base="typens:MailSendMailType">
            <xsd:attribute name="operation" type="typens:MailDraftOperationType" use="optional" />
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="MailSaveDraftMailsRequestType">
        <xsd:sequence>
          <xsd:element name="request_token" type="xsd:string" minOccurs="0" maxOccurs="1" />
          <xsd:element name="save_mail" type="typens:MailDraftMailType"
                       minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MailSaveDraftMailsResponseType">
        <xsd:sequence>
          <xsd:element name="mail" type="mail:MailType"
                       minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="MailRemoveMailsRequestType">
        <xsd:sequence>
          <xsd:element name="request_token" type="xsd:string" minOccurs="0" maxOccurs="1" />
          <xsd:element name="mail_id" type="base:IDType"
                       minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="MailSearchMailsRequestType">
        <xsd:attribute name="text" type="xsd:string" use="required" />
        <xsd:attribute name="start" type="xsd:dateTime" use="optional" />
        <xsd:attribute name="end" type="xsd:dateTime" use="optional" />
        <xsd:attribute name="search_all_accounts" type="xsd:boolean" use="required" />
        <xsd:attribute name="account_id" type="base:IDType" use="optional" />
        <xsd:attribute name="folder_id" type="base:IDType" use="optional" />
        <xsd:attribute name="search_sub_folders" type="xsd:boolean" use="optional" />
        <xsd:attribute name="title_search" type="xsd:boolean" use="required" />
        <xsd:attribute name="body_search" type="xsd:boolean" use="required" />
        <xsd:attribute name="from_search" type="xsd:boolean" use="required" />
        <xsd:attribute name="to_search" type="xsd:boolean" use="required" />
        <xsd:attribute name="cc_search" type="xsd:boolean" use="required" />
        <xsd:attribute name="bcc_search" type="xsd:boolean" use="required" />
      </xsd:complexType>
      <xsd:complexType name="MailSearchMailsResponseType">
        <xsd:sequence>
          <xsd:element name="mail" type="mail:MailType"
                       minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:simpleType name="MailDispositionNotificationType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="open" />
          <xsd:enumeration value="ignore" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="MailOpenDispositionNotificationOperationType">
        <xsd:attribute name="account_id" type="base:IDType" use="required" />
        <xsd:attribute name="mail_id" type="base:IDType" use="required" />
        <xsd:attribute name="type" type="typens:MailDispositionNotificationType" use="required" />
      </xsd:complexType>
      <xsd:complexType name="MailOpenDispositionNotificationsRequestType">
        <xsd:sequence>
          <xsd:element name="request_token" type="xsd:string" minOccurs="0" maxOccurs="1" />
          <xsd:element name="operation" type="typens:MailOpenDispositionNotificationOperationType"
                       minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MailOpenDispositionNotificationsResponseType">
        <xsd:sequence>
          <xsd:element name="mail" type="mail:MailType"
                       minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="MailModifyFolderOperationType">
        <xsd:sequence>
          <xsd:element name="folder" type="mail:FolderType"
                       minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
        <xsd:attribute name="account_id" type="base:IDType" use="required" />
        <xsd:attribute name="parent_folder_id" type="base:IDType" use="optional" />
      </xsd:complexType>
      <xsd:complexType name="MailAddFoldersRequestType">
        <xsd:sequence>
          <xsd:element name="request_token" type="xsd:string" minOccurs="0" maxOccurs="1" />
          <xsd:element name="add_folder" type="typens:MailModifyFolderOperationType"
                       minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MailAddFoldersResponseType">
        <xsd:sequence>
          <xsd:element name="folder" type="mail:FolderType"
                       minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="MailModifyFoldersRequestType">
        <xsd:sequence>
          <xsd:element name="request_token" type="xsd:string" minOccurs="0" maxOccurs="1" />
          <xsd:element name="modify_folder" type="typens:MailModifyFolderOperationType"
                       minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MailModifyFoldersResponseType">
        <xsd:sequence>
          <xsd:element name="folder" type="mail:FolderType"
                       minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="MailRemoveFoldersRequestType">
        <xsd:sequence>
          <xsd:element name="request_token" type="xsd:string" minOccurs="0" maxOccurs="1" />
          <xsd:element name="folder_id" type="base:IDType"
                       minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="MailMoveMailsOperationType">
        <xsd:attribute name="folder_id" type="base:IDType" />
        <xsd:attribute name="mail_id" type="base:IDType" />
      </xsd:complexType>
      <xsd:complexType name="MailMoveMailsToOtherFolderRequestType">
        <xsd:sequence>
          <xsd:element name="request_token" type="xsd:string" minOccurs="0" maxOccurs="1" />
          <xsd:element name="operation" type="typens:MailMoveMailsOperationType"
                       minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MailMoveMailsToOtherFolderResponseType">
        <xsd:sequence>
          <xsd:element name="mail" type="mail:MailType"
                       minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="MailSignatureType">
        <xsd:attribute name="account_id" type="base:IDType" use="required" />
        <xsd:attribute name="name" type="base:NonBlankStringType" use="required" />
        <xsd:attribute name="content" type="xsd:string" use="required" />        
      </xsd:complexType>
      <xsd:complexType name="MailGetSignaturesRequestType">
        <xsd:attribute name="account_id" type="base:IDType" use="required" />
      </xsd:complexType>
      <xsd:complexType name="MailGetSignaturesResponseType">
        <xsd:sequence>
          <xsd:element name="signature" type="typens:MailSignatureType"
                       minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="MailGetFiltersRequestType">
        <xsd:attribute name="account_id" type="base:IDType" use="required" />
      </xsd:complexType>
      <xsd:complexType name="MailGetFiltersResponseType">
        <xsd:sequence>
          <xsd:element name="filter" type="mail:FilterType"
                       minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="MailPersonalProfileType">
        <xsd:sequence>
          <xsd:element name="from_name" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:attribute name="account_id" type="base:IDType" use="required" />
              <xsd:attribute name="name" type="base:NonBlankStringType" use="required" />
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="show_preview" type="xsd:boolean" use="required" />
        <xsd:attribute name="send_charset" type="xsd:string" use="required" />
        <xsd:attribute name="use_trash" type="xsd:boolean" use="required" />
        <xsd:attribute name="send_vcard" type="xsd:boolean" use="optional" />
        <xsd:attribute name="wrap" type="xsd:boolean" default="false" use="optional" />
        <xsd:attribute name="linewidth" type="xsd:positiveInteger" default="70" use="optional" />
        <xsd:attribute name="use_message_disposition_notification" type="xsd:boolean" use="required" />
        <xsd:attribute name="use_status" type="xsd:boolean" use="optional" />
        <xsd:attribute name="use_history" type="xsd:boolean" use="optional" />
        <xsd:attribute name="reply_message_disposition_notification" use="required">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="None" />
              <xsd:enumeration value="ShowConfirmMessage" />
              <xsd:enumeration value="ReplyAlways" />
              <xsd:enumeration value="ReplyIncludingToOrCC" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:complexType>

      <xsd:complexType name="MailSizeLimitsType">
        <xsd:attribute name="total_kb" type="xsd:positiveInteger" use="optional" />
        <xsd:attribute name="receive_kb" type="xsd:positiveInteger" use="optional" />
        <xsd:attribute name="send_kb" type="xsd:positiveInteger" use="optional" />
      </xsd:complexType>
      <xsd:complexType name="UserAuthoritiesType">
        <xsd:attribute name="allow_account_all_permission" type="xsd:boolean" use="required" />
        <xsd:attribute name="allow_account_modification" type="xsd:boolean" use="required" />
        <xsd:attribute name="allow_store_on_server" type="xsd:boolean" use="required" />
        <xsd:attribute name="allow_new_mail_check" type="xsd:boolean" use="required" />
        <xsd:attribute name="allow_collective_reception" type="xsd:boolean" use="required" />
        <xsd:attribute name="allow_send_markup_body" type="xsd:boolean" use="required" />
        <xsd:attribute name="allow_display_markup_image" type="xsd:boolean" use="required" />
        <xsd:attribute name="allow_message_disposition_notification" type="xsd:boolean" use="required" />
        <xsd:attribute name="allow_status" type="xsd:boolean" use="required" />
        <xsd:attribute name="allow_history" type="xsd:boolean" use="required" />
      </xsd:complexType>
      <xsd:complexType name="MailSystemProfileType">
        <xsd:sequence>
          <xsd:element name="auto_receive">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="receive_time" type="xsd:time" minOccurs="0" maxOccurs="unbounded" />
              </xsd:sequence>
              <xsd:attribute name="interval" type="xsd:duration" use="optional" />
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="limit" type="typens:MailSizeLimitsType"
                       minOccurs="1" maxOccurs="1" />
          <xsd:element name="authority" type="typens:UserAuthoritiesType"
                       minOccurs="1" maxOccurs="1" />          
        </xsd:sequence>
        <xsd:attribute name="disable_client" type="xsd:boolean" use="required" />
        <xsd:attribute name="check_new_mail_at_login" type="xsd:boolean" use="required" />
      </xsd:complexType>
      <xsd:complexType name="MailGetProfilesRequestType">
        <xsd:attribute name="include_system_profile" type="xsd:boolean" use="optional" />
      </xsd:complexType>
      <xsd:complexType name="MailGetProfilesResponseType">
        <xsd:sequence>
          <xsd:element name="personal_profile" type="typens:MailPersonalProfileType"
                       minOccurs="1" maxOccurs="1"/>
          <xsd:element name="system_profile" type="typens:MailSystemProfileType"
                       minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
      </xsd:complexType>
      
      <xsd:complexType name="MailSetProfilesRequestType">
        <xsd:sequence>
          <xsd:element name="request_token" type="xsd:string" minOccurs="0" maxOccurs="1" />
          <xsd:element name="personal_profile" type="typens:MailPersonalProfileType"
                       minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MailSetProfilesResponseType">
        <xsd:sequence>
          <xsd:element name="personal_profile" type="typens:MailPersonalProfileType"
                       minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="MailSourceDownloadRequestType">
        <xsd:attribute name="mail_id" type="base:IDType" use="required" />
      </xsd:complexType>
      <xsd:complexType name="MailSourceDownloadResponseType">
        <xsd:sequence>
          <xsd:element name="source" type="base_types:FileBodyType"
                       minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="MailFileDownloadRequestType">
        <xsd:attribute name="mail_id" type="base:IDType" use="required" />
        <xsd:attribute name="file_id" type="base:IDType" use="required" />
      </xsd:complexType>
      <xsd:complexType name="MailFileDownloadResponseType">
        <xsd:sequence>
          <xsd:element name="file" type="base_types:FileBodyType"
                       minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
      </xsd:complexType>
      
      <xsd:complexType name="MailUserAccountType">
        <xsd:sequence>
              <xsd:element name="account_info" type="mail:Account_Info" minOccurs="0" maxOccurs="1" />
              <xsd:element name="mail_setting" type="mail:MailSetting" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MailCreateUserAccountRequestType">
      <xsd:sequence>
        <xsd:element name="request_token" type="xsd:string" minOccurs="0" maxOccurs="1" />
        <xsd:element name="mail_user_accounts" type="typens:MailUserAccountType" minOccurs="0" maxOccurs="unbounded" />
      </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MailCreateUserAccountResponseType">
        <xsd:sequence>
          <xsd:element name="user_accounts" type="typens:MailUserAccountType" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="acc_id" type="base:IDType" use="required" />
      </xsd:complexType>
      
      <xsd:complexType name="MailEditUserAccountRequestType">
      <xsd:sequence>
        <xsd:element name="request_token" type="xsd:string" minOccurs="0" maxOccurs="1" />
        <xsd:element name="edit_user_accounts" type="typens:MailUserAccountType" minOccurs="0" maxOccurs="unbounded" />
      </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MailEditUserAccountResponseType">
        <xsd:sequence>
          <xsd:element name="edit_user_accounts" type="typens:MailUserAccountType" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="acc_id" type="base:IDType" use="required" />
      </xsd:complexType>
      
      <xsd:complexType name="MailDeleteUserAccountRequestType">
        <xsd:sequence>
          <xsd:element name="request_token" type="xsd:string" minOccurs="0" maxOccurs="1" />
          <xsd:element name="delete_user_accounts" type="mail:DeleteUserAccount" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
      
      <xsd:complexType name="NewArrivingEmailType">
        <xsd:attribute name="id" type="base:IDType" use="required" />
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <xsd:attribute name="email" type="xsd:string" use="required" />
        <xsd:attribute name="new_mails" type="xsd:integer" use="optional" />
        <xsd:attribute name="disabled" type="xsd:string" use="optional" />
        <xsd:attribute name="deleted" type="xsd:string" use="optional" />
      </xsd:complexType>
      <xsd:complexType name="MailGetNewArrivingEmailRequestType">
      </xsd:complexType>
      <xsd:complexType name="MailGetNewArrivingEmailResponseType">
        <xsd:sequence>
          <xsd:element name="account" type="typens:NewArrivingEmailType"
                       minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
      
      <xsd:complexType name="MailAddMailServersRequestType">
        <xsd:sequence>
          <xsd:element name="request_token" type="xsd:string" minOccurs="0" maxOccurs="1" />
          <xsd:element name="server" type="mail:MailServerInfoType"
                       minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MailAddMailServersResponseType">
        <xsd:sequence>
          <xsd:element name="server" type="mail:MailServerInfoType"
                       minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
      
      <xsd:complexType name="MailModifyMailServersRequestType">
        <xsd:sequence>
          <xsd:element name="request_token" type="xsd:string" minOccurs="0" maxOccurs="1" />
          <xsd:element name="server" type="mail:MailServerInfoType"
                       minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MailModifyMailServersResponseType">
        <xsd:sequence>
          <xsd:element name="server" type="mail:MailServerInfoType"
                       minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
      
      <xsd:complexType name="MailRemoveMailServersRequestType">
        <xsd:sequence>
          <xsd:element name="request_token" type="xsd:string" minOccurs="0" maxOccurs="1" />
          <xsd:element name="server_id" type="base:IDType"
                       minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
      
    </xsd:schema>
  </types>

  <message name="MailGetAccountVersionsRequest">
    <part name="parameters" type="typens:MailGetAccountVersionsRequestType" />
  </message>
  <message name="MailGetAccountVersionsResponse">
    <part name="returns" type="typens:MailGetAccountVersionsResponseType" />
  </message>

  <message name="MailGetAccountsByIdRequest">
    <part name="parameters" type="typens:MailGetAccountsByIdRequestType" />
  </message>
  <message name="MailGetAccountsByIdResponse">
    <part name="returns" type="typens:MailGetAccountsByIdResponseType" />
  </message>

  <message name="MailGetMailVersionsRequest">
    <part name="parameters" type="typens:MailGetMailVersionsRequestType" />
  </message>
  <message name="MailGetMailVersionsResponse">
    <part name="returns" type="typens:MailGetMailVersionsResponseType" />
  </message>

  <message name="MailGetMailsByIdRequest">
    <part name="parameters" type="typens:MailGetMailsByIdRequestType" />
  </message>
  <message name="MailGetMailsByIdResponse">
    <part name="returns" type="typens:MailGetMailsByIdResponseType" />
  </message>

  <message name="MailSendMailsRequest">
    <part name="parameters" type="typens:MailSendMailsRequestType" />
  </message>
  <message name="MailSendMailsResponse">
    <part name="returns" type="typens:MailSendMailsResponseType" />
  </message>

  <message name="MailReplyMailsRequest">
    <part name="parameters" type="typens:MailReplyMailsRequestType" />
  </message>
  <message name="MailReplyMailsResponse">
    <part name="returns" type="typens:MailReplyMailsResponseType" />
  </message>

  <message name="MailForwardMailsRequest">
    <part name="parameters" type="typens:MailForwardMailsRequestType" />
  </message>
  <message name="MailForwardMailsResponse">
    <part name="returns" type="typens:MailForwardMailsResponseType" />
  </message>

  <message name="MailSaveDraftMailsRequest">
    <part name="parameters" type="typens:MailSaveDraftMailsRequestType" />
  </message>
  <message name="MailSaveDraftMailsResponse">
    <part name="returns" type="typens:MailSaveDraftMailsResponseType" />
  </message>

  <message name="MailRemoveMailsRequest">
    <part name="parameters" type="typens:MailRemoveMailsRequestType" />
  </message>

  <message name="MailSearchMailsRequest">
    <part name="parameters" type="typens:MailSearchMailsRequestType" />
  </message>
  <message name="MailSearchMailsResponse">
    <part name="returns" type="typens:MailSearchMailsResponseType" />
  </message>

  <message name="MailOpenDispositionNotificationsRequest">
    <part name="parameters" type="typens:MailOpenDispositionNotificationsRequestType" />
  </message>
  <message name="MailOpenDispositionNotificationsResponse">
    <part name="returns" type="typens:MailOpenDispositionNotificationsResponseType" />
  </message>

  <message name="MailAddFoldersRequest">
    <part name="parameters" type="typens:MailAddFoldersRequestType" />
  </message>
  <message name="MailAddFoldersResponse">
    <part name="returns" type="typens:MailAddFoldersResponseType" />
  </message>

  <message name="MailModifyFoldersRequest">
    <part name="parameters" type="typens:MailModifyFoldersRequestType" />
  </message>
  <message name="MailModifyFoldersResponse">
    <part name="returns" type="typens:MailModifyFoldersResponseType" />
  </message>

  <message name="MailRemoveFoldersRequest">
    <part name="parameters" type="typens:MailRemoveFoldersRequestType" />
  </message>

  <message name="MailMoveMailsToOtherFolderRequest">
    <part name="parameters" type="typens:MailMoveMailsToOtherFolderRequestType" />
  </message>
  <message name="MailMoveMailsToOtherFolderResponse">
    <part name="returns" type="typens:MailMoveMailsToOtherFolderResponseType" />
  </message>

  <message name="MailGetSignaturesRequest">
    <part name="parameters" type="typens:MailGetSignaturesRequestType" />
  </message>
  <message name="MailGetSignaturesResponse">
    <part name="returns" type="typens:MailGetSignaturesResponseType" />
  </message>

  <message name="MailGetFiltersRequest">
    <part name="parameters" type="typens:MailGetFiltersRequestType" />
  </message>
  <message name="MailGetFiltersResponse">
    <part name="returns" type="typens:MailGetFiltersResponseType" />
  </message>

  <message name="MailGetProfilesRequest">
    <part name="parameters" type="typens:MailGetProfilesRequestType" />
  </message>
  <message name="MailGetProfilesResponse">
    <part name="returns" type="typens:MailGetProfilesResponseType" />
  </message>

  <message name="MailSetProfilesRequest">
    <part name="parameters" type="typens:MailSetProfilesRequestType" />
  </message>
  <message name="MailSetProfilesResponse">
    <part name="returns" type="typens:MailSetProfilesResponseType" />
  </message>

  <message name="MailSourceDownloadRequest">
    <part name="parameters" type="typens:MailSourceDownloadRequestType" />
  </message>
  <message name="MailSourceDownloadResponse">
    <part name="returns" type="typens:MailSourceDownloadResponseType" />
  </message>

  <message name="MailFileDownloadRequest">
    <part name="parameters" type="typens:MailFileDownloadRequestType" />
  </message>
  <message name="MailFileDownloadResponse">
    <part name="returns" type="typens:MailFileDownloadResponseType" />
  </message>
  
  <message name="MailCreateUserAccountRequest">
    <part name="parameters" type="typens:MailCreateUserAccountRequestType" />
  </message>
  <message name="MailCreateUserAccountResponse">
    <part name="returns" type="typens:MailCreateUserAccountResponseType" />
  </message>
  
  <message name="MailEditUserAccountRequest">
    <part name="parameters" type="typens:MailEditUserAccountRequestType" />
  </message>
  <message name="MailEditUserAccountResponse">
    <part name="returns" type="typens:MailEditUserAccountResponseType" />
  </message>
  
  <message name="MailDeleteUserAccountRequest">
    <part name="parameters" type="typens:MailDeleteUserAccountRequestType" />
  </message>
  
  <message name="MailGetNewArrivingEmailRequest">
    <part name="parameters" type="typens:MailGetNewArrivingEmailRequestType" />
  </message>
  <message name="MailGetNewArrivingEmailResponse">
  
    <part name="returns" type="typens:MailGetNewArrivingEmailResponseType" />
  </message>
  
  <message name="MailAddMailServersRequest">
    <part name="parameters" type="typens:MailAddMailServersRequestType" />
  </message>
  <message name="MailAddMailServersResponse">
    <part name="returns" type="typens:MailAddMailServersResponseType" />
  </message>
  
  <message name="MailModifyMailServersRequest">
    <part name="parameters" type="typens:MailModifyMailServersRequestType" />
  </message>
  <message name="MailModifyMailServersResponse">
    <part name="returns" type="typens:MailModifyMailServersResponseType" />
  </message>
  
  <message name="MailRemoveMailServersRequest">
    <part name="parameters" type="typens:MailRemoveMailServersRequestType" />
  </message>
  <portType name="MailPort">
    
    <operation name="MailGetAccountVersions">
      <documentation>
        This API gets the modified mail accounts for login user.
        "account_item" is a list of mail accounts that a client has.
      </documentation>
      <input message="tns:MailGetAccountVersionsRequest" />
      <output message="tns:MailGetAccountVersionsResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>

    <operation name="MailGetAccountsById">
      <documentation>
        This API gets the mail accounts by account id.
        The client sends list of "account_id" for specify the account to search.
      </documentation>
      <input message="tns:MailGetAccountsByIdRequest" />
      <output message="tns:MailGetAccountsByIdResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>

    <operation name="MailGetMailVersions">
      <documentation>
        This API gets the modified mail messages.
        The client sends "folder_id" for specify the folder to search.
        "mail_item" is a list of mail messages that a client has.
        "start" and "end" for specify the range of search.
      </documentation>
      <input message="tns:MailGetMailVersionsRequest" />
      <output message="tns:MailGetMailVersionsResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>

    <operation name="MailGetMailsById">
      <documentation>
        This API gets the mail messages by mail id.
        The client sends list of "mail_id" for specify the mail to search.
      </documentation>
      <input message="tns:MailGetMailsByIdRequest" />
      <output message="tns:MailGetMailsByIdResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>
    
    <operation name="MailSendMails">
      <documentation>
        This API sends the mail messages.
        The service returns the mail messages that sent.
      </documentation>
      <input message="tns:MailSendMailsRequest" />
      <output message="tns:MailSendMailsResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>

    <operation name="MailReplyMails">
      <documentation>
        This API replies the mail messages.
        The service returns the mail messages that replied.
      </documentation>
      <input message="tns:MailReplyMailsRequest" />
      <output message="tns:MailReplyMailsResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>

    <operation name="MailForwardMails">
      <documentation>
        This API forwards the mail messages.
        The service returns the mail messages that forwarded.
      </documentation>
      <input message="tns:MailForwardMailsRequest" />
      <output message="tns:MailForwardMailsResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>

    <operation name="MailSaveDraftMails">
      <documentation>
        This API saves the mail messages.
        The service returns the mail messages that saved.
      </documentation>
      <input message="tns:MailSaveDraftMailsRequest" />
      <output message="tns:MailSaveDraftMailsResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>

    <operation name="MailRemoveMails">
      <documentation>
        This API removes the mail messages.
      </documentation>
      <input message="tns:MailRemoveMailsRequest" />
      <output message="base_services:EmptyResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>

    <operation name="MailSearchMails">
      <documentation>
        This API searches the mail messages.
      </documentation>
      <input message="tns:MailSearchMailsRequest" />
      <output message="tns:MailSearchMailsResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>

    <operation name="MailOpenDispositionNotifications">
      <documentation>
        This API sends the disposition notification response.
        If operation type is "open", The api sends the disposition notification response and mail opened mail.
        If operation type is "ignore", The api don't sends the disposition notification response and opened mail.
      </documentation>
      <input message="tns:MailOpenDispositionNotificationsRequest" />
      <output message="tns:MailOpenDispositionNotificationsResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>

    <operation name="MailAddFolders">
      <documentation>
        This api adds a user folder to account mailbox.
      </documentation>
      <input message="tns:MailAddFoldersRequest" />
      <output message="tns:MailAddFoldersResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>

    <operation name="MailModifyFolders">
      <documentation>
        This api modifies a user folder to account mailbox.
      </documentation>
      <input message="tns:MailModifyFoldersRequest" />
      <output message="tns:MailModifyFoldersResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>

    <operation name="MailRemoveFolders">
      <documentation>
        This api removes a user folder to account mailbox.
      </documentation>
      <input message="tns:MailRemoveFoldersRequest" />
      <output message="base_services:EmptyResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>

    <operation name="MailMoveMailsToOtherFolder">
      <documentation>
        This API moves mail to other folder.
      </documentation>
      <input message="tns:MailMoveMailsToOtherFolderRequest" />
      <output message="tns:MailMoveMailsToOtherFolderResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>

    <operation name="MailGetSignatures">
      <documentation>
        This API gets list of the mail signatures.
      </documentation>
      <input message="tns:MailGetSignaturesRequest" />
      <output message="tns:MailGetSignaturesResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>

    <operation name="MailGetFilters">
      <documentation>
        This API gets list of the mail filters
      </documentation>
      <input message="tns:MailGetFiltersRequest" />
      <output message="tns:MailGetFiltersResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>

    <operation name="MailGetProfiles">
      <documentation>
        This API gets profiles in the mail application.
      </documentation>
      <input message="tns:MailGetProfilesRequest" />
      <output message="tns:MailGetProfilesResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>

    <operation name="MailSetProfiles">
      <documentation>
        This API modifies profiles in the mail application.
      </documentation>
      <input message="tns:MailSetProfilesRequest" />
      <output message="tns:MailSetProfilesResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>

    <operation name="MailSourceDownload">
      <documentation>
        This API download the mail source.
      </documentation>
      <input message="tns:MailSourceDownloadRequest" />
      <output message="tns:MailSourceDownloadResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>

    <operation name="MailFileDownload">
      <documentation>
        This API download the file in mail.
      </documentation>
      <input message="tns:MailFileDownloadRequest" />
      <output message="tns:MailFileDownloadResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>

    <operation name="MailCreateUserAccount">
      <documentation>
        This API create user account mail.
      </documentation>
      <input message="tns:MailCreateUserAccountRequest" />
      <output message="tns:MailCreateUserAccountResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>
    
    <operation name="MailEditUserAccount">
      <documentation>
        This API edit user account mail.
      </documentation>
      <input message="tns:MailEditUserAccountRequest" />
      <output message="tns:MailEditUserAccountResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>
    
    <operation name="MailDeleteUserAccount">
      <documentation>
        This API delete user account mail.
      </documentation>
      <input message="tns:MailDeleteUserAccountRequest" />
      <output message="base_services:EmptyResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>
    
    <operation name="MailGetNewArrivingEmail">
      <documentation>
        This API to get the number of new arriving E-mail 
      </documentation>
      <input message="tns:MailGetNewArrivingEmailRequest" />
      <output message="tns:MailGetNewArrivingEmailResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>
    
    <operation name="MailAddMailServers">
      <documentation>
        This API to add mail servers
      </documentation>
      <input message="tns:MailAddMailServersRequest" />
      <output message="tns:MailAddMailServersResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>
    
    <operation name="MailModifyMailServers">
      <documentation>
        This API to modify mail servers
      </documentation>
      <input message="tns:MailModifyMailServersRequest" />
      <output message="tns:MailModifyMailServersResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>
    
    <operation name="MailRemoveMailServers">
      <documentation>
        This API to remove mail servers
      </documentation>
      <input message="tns:MailRemoveMailServersRequest" />
      <output message="base_services:EmptyResponse" />
      <fault name="CybozuError" message="base_services:Fault" />
    </operation>
  </portType>

  <binding name="MailBinding" type="tns:MailPort">
    <soap12:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />

    <operation name="MailGetAccountVersions">
      <soap12:operation soapAction="MailGetAccountVersions" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </fault>
    </operation>

    <operation name="MailGetAccountsById">
      <soap12:operation soapAction="MailGetAccountsById" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </fault>
    </operation>

    <operation name="MailGetMailVersions">
      <soap12:operation soapAction="MailGetMailVersions" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </fault>
    </operation>

    <operation name="MailGetMailsById">
      <soap12:operation soapAction="MailGetMailsById" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </fault>
    </operation>

    <operation name="MailSendMails">
      <soap12:operation soapAction="MailSendMails" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </fault>
    </operation>

    <operation name="MailReplyMails">
      <soap12:operation soapAction="MailReplyMails" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </fault>
    </operation>

    <operation name="MailForwardMails">
      <soap12:operation soapAction="MailForwardMails" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </fault>
    </operation>

    <operation name="MailSaveDraftMails">
      <soap12:operation soapAction="MailSaveDraftMails" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </fault>
    </operation>

    <operation name="MailRemoveMails">
      <soap12:operation soapAction="MailRemoveMails" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </fault>
    </operation>

    <operation name="MailSearchMails">
      <soap12:operation soapAction="MailSearchMails" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </fault>
    </operation>

    <operation name="MailOpenDispositionNotifications">
      <soap12:operation soapAction="MailOpenDispositionNotifications" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </fault>
    </operation>

    <operation name="MailAddFolders">
      <soap12:operation soapAction="MailAddFolders" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </fault>
    </operation>

    <operation name="MailModifyFolders">
      <soap12:operation soapAction="MailModifyFolders" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </fault>
    </operation>

    <operation name="MailRemoveFolders">
      <soap12:operation soapAction="MailRemoveFolders" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </fault>
    </operation>

    <operation name="MailMoveMailsToOtherFolder">
      <soap12:operation soapAction="MailMoveMailsToOtherFolder" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </fault>
    </operation>

    <operation name="MailGetSignatures">
      <soap12:operation soapAction="MailGetSignatures" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </fault>
    </operation>

    <operation name="MailGetFilters">
      <soap12:operation soapAction="MailGetFilters" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </fault>
    </operation>
    
    <operation name="MailGetProfiles">
      <soap12:operation soapAction="MailGetProfiles" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </fault>
    </operation>
    
    <operation name="MailSetProfiles">
      <soap12:operation soapAction="MailSetProfiles" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </fault>
    </operation>

    <operation name="MailSourceDownload">
      <soap12:operation soapAction="MailSourceDownload" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </fault>
    </operation>

    <operation name="MailFileDownload">
      <soap12:operation soapAction="MailFileDownload" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </fault>
    </operation>

    <operation name="MailCreateUserAccount">
      <soap12:operation soapAction="MailCreateUserAccount" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </fault>
    </operation>

  <operation name="MailEditUserAccount">
      <soap12:operation soapAction="MailEditUserAccount" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </fault>
    </operation>
    
    <operation name="MailDeleteUserAccount">
      <soap12:operation soapAction="MailDeleteUserAccount" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </fault>
    </operation>
    
    <operation name="MailGetNewArrivingEmail">
      <soap12:operation soapAction="MailGetNewArrivingEmail" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </fault>
    </operation>
    
    <operation name="MailAddMailServers">
      <soap12:operation soapAction="MailAddMailServers" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </fault>
    </operation>
    
    <operation name="MailModifyMailServers">
      <soap12:operation soapAction="MailModifyMailServers" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </fault>
    </operation>
    
    <operation name="MailRemoveMailServers">
      <soap12:operation soapAction="MailRemoveMailServers" soapActionRequired="true" />
      <input>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </input>
      <output>
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </output>
      <fault name="CybozuError">
        <soap12:body use="literal" namespace="http://wsdl.cybozu.co.jp/mail/2008" />
      </fault>
    </operation>
  </binding>

</definitions>